# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Env files (NUNCA subir secretos)
.env
.env.local
.env.production

# Docker
.docker/

# Node
node_modules/
frontend/dist/
frontend/.next/

# AWS
.aws/
*.tfstate
*.tfstate.backup
.terraform/

# Mac
.DS_Store
.AppleDouble

# IDEs
.vscode/
.idea/
*.swp
